.cloud-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8vw 6vw;
  gap: 3vw;
}

.cloud-left {
  flex: 1;
}

.cloud-title {
  font-size: 2.5vw;
  font-weight: 700;
  color: #02194a;
  margin-bottom: 1vw;
}

.cloud-desc {
  width: 80%;
  font-size: 1.1vw;
  line-height: 1.8vw;
  color: #333;
}

.cloud-right {
  /* flex: 1;
  display: flex;
  justify-content: center; */
    flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-box {
  position: absolute;
  width: 90%;
  bottom: 0;
  z-index: 1;
  margin-left: -12vw;
}


.cloud-image {
  position: relative;
  width: 90%;
  z-index: 2;
  top: -1vw;
  /* margin-left: -2vw; */
}

/* ----------------------- */
/* RESPONSIVE DESIGN       */
/* ----------------------- */

@media (max-width: 768px) {
  .cloud-wrapper {
    flex-direction: column;
    padding: 8vw;
    text-align: center;
  }

  .cloud-title {
    font-size: 6vw;
  }

  .cloud-desc {
    font-size: 3.5vw;
    line-height: 5vw;
    width: 100%;
  }

  .cloud-image {
    width: 100%;
    margin-top: 6vw;
  }
}
